<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">

	<!-- Boxicons -->
	<link href='https://unpkg.com/boxicons@2.0.9/css/boxicons.min.css' rel='stylesheet'>
	<!-- My CSS -->
	<link rel="stylesheet" href="css/style.css">

	<title><%= title %></title>
</head>
<body>

	<%- nav %>

	<!-- CONTENT -->
	<section id="content">
		<!-- NAVBAR -->
		<nav>
			<div class="menu">
				<i class='bx bx-menu' ></i>
			</div>
			<div class="head-nav">
				<input type="checkbox" id="switch-mode" hidden>
				<label for="switch-mode" class="switch-mode"></label>
				<a href="#" class="notification">
					<i class='bx bxs-bell' ></i>
					<span class="num">8</span>
				</a>
			</div>
			<div class="head-user">
				<span><%= username %></span>
				<a href="#" class="profile">
					<img src="assets/img/Logo Sasa.svg">
				</a>
			</div>
		</nav>
		<!-- NAVBAR -->

		<!-- MAIN -->
		<main>
			<%- body %>
		</main>
		<!-- MAIN -->
	</section>
	<!-- CONTENT -->
	
	<%- script %>
</body>
</html>